* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background: #f4f4f4; */
    background: #1c1c1c;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.card,
.snippet {
    /* background: white; */
    background: #585858;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.card h2 {
    margin-top: 0;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    background: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.snippet h2 {
    margin-top: 0;
}

.category {
    color: #666;
    font-size: 14px;
}

pre {
    background: #f1f1f1;
    padding: 15px;
    border-radius: 6px;
    overflow-x: auto;
}

.delete {
    background: #c0392b;
}

.section-title {
    margin-top: 35px;
}